#app-root > div {
	width: fit-content;
	margin: auto;
	padding: 1%;
	text-align: center;
	background: lightgreen;
	border: dashed lightseagreen;
}

button {
	cursor: pointer;
	font-size: 1em;
	background: lightseagreen;
	border: none;
	margin: 3%;
	padding: 1%;
}

button:hover {
	box-shadow: inset 0em 0em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}
