#game-menu {
	white-space: nowrap;
	background: lightcyan;
}

#game-menu button {
	margin: 1%;
	padding: 2%;

	cursor: pointer;

	background: lightpink;
	border: solid 0.1rem;
}

#game-menu button:hover {
	box-shadow: inset 0em 0em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}
