.task {
	border: dashed lightseagreen;
	padding: 1%;
	margin: 1%;
}

.isSolved {
	text-transform: capitalize;
}

.task-preview {
	border-spacing: 0;
	margin: 0 auto 10% auto;
	width: fit-content;
	height: 10vh;
	font-size: 3rem;
}
