#game-field {
	margin: 0 auto;

	width: 50%;

	background: lightblue;
}

#game-field table {
	display: inline-block;
}

.sidebar {
	display: inline-block;
	position: absolute;

	top: 5%;
	margin-left: 5%;

	padding: 0.5%;

	text-align: center;

	background: lightskyblue;
}
