#game-field {
	margin: 0 auto;

	width: fit-content;

	background: lightblue;
}

#game-input-field {
	background: lightcoral;
}

.game-cell {
	width: 2em;
	height: 2em;

	border: solid;

	background: lightgoldenrodyellow;
}
