#palette {
	padding: 0.5%;

	background: lightseagreen;
}

#palette caption {
	color: white;
}

.palette-cell {
	width: 1.5em;
	height: 1.5em;

	border: solid;
	background: lightgray;

	text-align: center;
	cursor: pointer;
}

#selected-color {
	border: solid 0.2em lightsalmon;
}
