.game-input-cell {
	width: 3vw;
	height: 3vw;

	border: solid 0.1rem;

	background: lightgoldenrodyellow;

	cursor: pointer;
}

.game-input-cell:hover {
	box-shadow: inset 0em 0em 0.2em 0.2em rgba(0, 0, 0, 0.5);
}
