.game-input-cell {
	width: 2vw;
	height: 2vw;

	border: solid;

	background: lightgoldenrodyellow;

	cursor: pointer;
}

.game-input-cell:hover {
	box-shadow: inset 0em 0em 0.2em 0.2em rgba(0, 0, 0, 0.5);
}
